{% extends 'base.html.twig' %}

{% block title %} Auth {% endblock %}
{% block leftSidebar %}{% endblock %}
{% block content %}
    <div class="col-sm-12">
    <section id="form"><!--form-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="login-form"><!--login form-->
                        <h2>Login to your account</h2>
                        {% if error %}
                            <div class="alert alert-danger">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}
                        <form class="login-form" method="post">
                            <div class="form-group">
                                <input type="text" placeholder="email" name="email" value="{{ last_username }}">
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="password" name="password">
                            </div>
                            <span>
								<input type="checkbox" name="_remember_me" class="checkbox">
								Keep me signed in
							</span>
                            <button type="submit" class="btn btn-default">Login</button>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        </form>
                    </div><!--/login form-->
                </div>
            </div>
        </div>
    </section><!--/form-->
    </div>
{% endblock %}