{% extends 'base.html.twig' %}

{% block title %}<title>Home | E-Shopper</title>{% endblock %}

{% block body %}
<h1>dsadas</h1>
    <ul>
{#        {% for product in category_product %}#}
{#            <h3>Product {{ product.id }}</h3>#}


{#            <li><a href="">{{ product.title }}</a></li>#}
{#            <li><a href="">{{ product.price }}</a></li>#}
{#            <li><a href="">{{ product.description }}</a></li>#}
{#        {% endfor %}#}
    </ul>

{% endblock %}

{#
cat_id = id
#}